<div class="board__container">
  <div class="board__overlay">
    <div class="board__title wow slideInLeft">
      Board of Directors
    </div>
    <div class="board__body">
        <div class="board__body-text wow slideInLeft">
          <p>
            Margaret Schrand, President <br />
            Lisa Blakely, Vice President <br />
            Chris Gouig, Secretary <br />
            Tracey Edwards, Treasurer <br />
            Dave Kroot, Chief Legal Officer <br />
          </p>
          <p>
            Luis Barahona <br />
            Tiffany Bohee <br />
            Curtis Bradford <br />
            Mark Cloutier <br />
            Freddie Martin <br />
            Dr. Erica Mohan <br />
            Geeta Rao <br />
            Kathy Rock <br />
            Loren Sanborn <br />
            Amory Sharpe <br />
            Dianne Spaulding <br />
            Amy Tharpe <br />
            Greg Vilkin <br />
            Kristy Wang <br />
            Kathy Wolfe <br />
            Cynthia Wong
          </p>
          <p class="board__body-text__corrections">
            You mean the world to us! <br />
            If your name wasn’t listed exactly how you wanted, please tell our Director of Fund Development, Lori, at <a href="mailto:llinker@tndc.org">llinker@tndc.org</a>.               
          </p>
        </div>
      </div>
  </div>
</div>