<div class="supportive-communities__container">
  <div class="supportive-communities__overlay">
    <div class="supportive-communities__title">
      In 2017 You Opened the Door for Supportive Communities to Grow
    </div>
    <div class="supportive-communities__statistics">
      <div class="supportive-communities__statistic-icon">
        {# <img src='/images/20-organisms/60-supportive-communities/people_holding_hands.svg' />         #}
        <img src='/images/20-organisms/60-supportive-communities/holding_hands.svg' />
      </div>
      <div class="supportive-communities__statistic-description">
        You encouraged <span class="supportive-communities__statistic-number">235</span> kids to complete their homework, explore the city, and see a brighter future through our Tenderloin After-School Program
      </div>
      <div class="supportive-communities__statistic-icon">
          <img src='/images/20-organisms/60-supportive-communities/young_and_old.svg' />
      </div>
      <div class="supportive-communities__statistic-description">
        You helped <span class="supportive-communities__statistic-number">704</span> seniors learn healthy aging skills through our Health &amp; Wellness Program
      </div>
      <div class="supportive-communities__statistic-icon">
          <img src='/images/20-organisms/60-supportive-communities/people.svg' />
      </div>
      <div class="supportive-communities__statistic-description">
        You championed <span class="supportive-communities__statistic-number">48</span> neighborhood leaders through four different TNDC Leadership Academies 
      </div>
      <div class="supportive-communities__statistic-icon">
        <img src='/images/20-organisms/60-supportive-communities/tomato_and_jar.svg' />
      </div>
      <div class="supportive-communities__statistic-description">
        You gave over <span class="supportive-communities__statistic-number">225,154</span> pounds of fresh produce and food to the local community through our community gardens and neighborhood pantries
      </div>
    </div>
    <div class="supportive-communities__media__container">
      <div class="supportive-communities__media__subtitle">
        Your Support Raises the Voice of the Tenderloin 
      </div>
      <div class="supportive-communities__media__media-file embed-responsive embed-responsive-16by9">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/TNjwB37eDZk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>