@import "../variables";
@import "../mixins";

.board {
  $overlay-width: 620px;

  &__container {
    font-family: $font-monserrat;
    
    @media (min-width: $overlay-width) {
      background: url('/images/20-organisms/90-board/leaderscrop.jpg');
      background-size: cover;
      background-position: left top;
      position: relative;
    }
  }

  &__overlay {
    background-color: $color-turquoise-blue;
    @include rem('padding', 0 20px 30px);
    width: 100%;

    @media (min-width: $overlay-width) {
      background-color: rgba($color-turquoise-blue,.8);
      height: 100%;
      margin-right: auto;
      @include rem('padding-bottom', 24px);
      @include rem('padding-left', 115px);
      @include rem('padding-right', 45px);
      width: $overlay-width;
    }
  }

  &__title {
    margin-bottom: .85em;
    @include org-title;
    padding-top: 1.7em;
    text-align: center;

    @media (min-width: $overlay-width) {
      margin-right: auto;
      text-align: left;
      max-width: 18em;
    }
  }

  &__body {
    @include rem('font-size', 16px);
    @include rem('letter-spacing', .17px);
    line-height: 1.5;
    position: relative;
    padding-top: 0;    
  }

  &__body-text {
    text-align: left;

    &__corrections {
      max-width: 24em;
      @include rem('padding-top', 21px);
    }

    p {
      @include rem('margin-bottom', 24px);
    }

    a,
    a:active,
    a:hover,
    a:visited {
      color: white;
      font-weight: bold;
      text-decoration: none;
    }

    a:hover {
      color: rgba(white, .8);
    }
  }
}