@import "../variables";
@import "../mixins";

.donorlist {
  @include rem('padding-top', 40px);
  @include rem('padding-bottom', 100px);
  background-color: $color-bluish;
}

.donorlist .container-fluid {
  max-width: 1224px;
  margin-left: auto;
  margin-right: auto;
}

.donorlist__title {
  text-align: center;
  text-transform: uppercase;
}

.donorlist__description {
  text-align: center;
}

.donorlist__searchform {
  @include rem('height', 40px);
  @include rem('width', 270px);
  @include rem('margin-bottom', 40px);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.donorlist__searchform__input {
  width: 100%;
  border: 0;
  border-radius: 4px;
  background-color: rgba(244, 244, 246, 0.74);
  height: 100%;
  font-size: 14px;
  @include rem('padding-left', 16px);
  color: #333;

  &::placeholder {
    line-height: 1.14;
    letter-spacing: 0.5px;
    color: rgba(171, 171, 182, 0.74);
  }

}

.donorlist__individual__title, .donorlist__institions__title {
  @include rem('font-size', 22px);
  @include rem('letter-spacing', 0.1px);
  font-weight: bold;
  line-height: 1.98;

  text-transform: uppercase;
  border-bottom: 2px solid #d8d8d8;
}

.donorlist__individual__cols__wrapper, .donorlist__institution__cols__wrapper {
  @include rem('font-size', 14px);
  @include rem('letter-spacing', 0.3px);
  font-weight: 300;
  line-height: 1.58;

  //@include rem('padding', 19px 60px 0 60px);

  .flickity-page-dots {
    left: 50%;
    transform: translateX(-50%);
    bottom: -45px;

    .dot {
      background-color: #e4e4e5;
      opacity: 1;
    }

    .dot.is-selected {
      background-color: #ababb6;
    }
  }
}

.donorlist__individual__col, .donorlist__institution__col {
  @include rem('width', 320px);
  @include rem('padding-right', 40px);
}

.donorlist__institutions {
  @include rem('padding-bottom', 65px);
}

.donorlist__institution__cols__wrapper,
.donorlist__individual__cols__wrapper {
  @include rem('padding', 19px 60px 0 60px);
}

.donorlist__institution__cols__wrapper.flickity-enabled,
.donorlist__individual__cols__wrapper.flickity-enabled {

  .donorlist__individual__col, .donorlist__institution__col {
    @include rem('width', 420px);
    max-width: 100%;
  }
}

.donorsearch__searchform__submit {
  @include rem('padding', 0 14px);
  background-color: #444444;
  position: absolute;
  color: white;
  right: 0;
  top: 0;
  border: 0;
  margin: 0;
  height: 100%;
}

.donorlist__rangeselect__list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.donorlist__rangeselect__radioitem {
  position: absolute;
  left: -314159px;

  &:checked + label, &:hover + label {
    background-color: rgba(#d8d8d8, 0.16);
  }
}

.donorlist__rangeselect__radioitem__label {
  @include rem('height', 71px);
  @include rem('padding-left', 35px);
  @include rem('font-size', 18px);
  @include rem('letter-spacing', 0.5px);
  font-weight: bold;
  line-height: 2.44;
  cursor: pointer;
  border-bottom: 1px solid white;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

// Mobile dropdown
.donorlist__rangeselect__dropdown {
  text-align: center;
}

.donorlist__rangeselect__dropdown__select {
  @include rem('margin-top', 40px);
  color: black;
  width: 60%;
}

// One off for the top tier of the institutional donors

.donorlist__institution__col--top {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;


  @media (min-width: 768px) {
    max-height: 650px;

    .donorlist__institution__items__wrapper {
      @include rem('max-width', 400px);
      @include rem('margin-right', 40px);
    }
  }

  .donorlist__institution__col__title {
    @include rem('padding-bottom', 6px);
    border-bottom: 1px solid white;
    font-weight: bold;
  }

}
