@import "../variables";
@import "../mixins";

.sanfrancisco {
  $overlay-width: 549px;

  &__container {
    font-family: $font-monserrat;
    background: url('/images/20-organisms/38-sanfrancisco/boedekkerparkcrop.jpg');
    background-size: cover;
    background-position: center;
    
    @media (min-width: $overlay-width) {
      
      position: relative;
    }
  }

  &__overlay {
    background-color: rgba($color-turquoise-blue,.8);
    @include rem('padding', 0 20px 30px);
    width: 100%;

    @media (min-width: $overlay-width) {
      height: 100%;
      margin-right: auto;
      @include rem('padding-left', 150px);
      @include rem('padding-right', 45px);
      @include rem('padding-bottom', 30px);
      width: $overlay-width;
    }
  }

  &__title {
    margin-bottom: 1.37em;
    @include org-title;
    // padding-bottom: 1.85em;
    padding-right: 2em;
    padding-top: 1.3em;
    text-align: center;

    @media (min-width: $overlay-width) {
      @include rem('left', 150px);
      margin-right: auto;
      text-align: left;
      max-width: 18em;
      position: absolute;
    }
  }

  &__body {
    @include rem('font-size', 16px);
    @include rem('letter-spacing', .17px);
    line-height: 1.5;
    @include rem('padding-bottom', 35px);
    position: relative;
    padding-top: 0;
    @media (min-width: $overlay-width) {
      @include poly-fluid-sizing('padding-top', ($overlay-width: 130px, 1440px: 185px));
    }
    
  }

  &__body-text {
    text-align: left;

    p {
      @include rem('margin-bottom', 24px);
    }

    a,
    a:active,
    a:hover,
    a:visited {
      color: white;
      font-weight: bold;
      text-decoration: none;
    }

    a:hover {
      color: rgba(white, .8);
    }
  }
}