@import "../variables";
@import "../mixins";

.stories {
  &__container {
    font-family: $font-monserrat;
    
    @media (min-width: 780px) {
      background: url('/images/20-organisms/39-stories/jenniferadoradoorwaycrop.jpg');
      background-size: cover;
      background-position: center;
    }
  }

  &__overlay {
    background-color: $color-tomato;
    @include rem('padding', 0 20px 30px);
    width: 100%;

    @media (min-width: 780px) {
      background-color: rgba($color-tomato,.8);
      height: 100%;
      margin-left: auto;
      @include rem('padding-bottom', 73px);
      @include rem('padding-left', 70px);
      @include poly-fluid-sizing('padding-right', (780px: 70px, 1440px: 224px));
      width: 780px;
    }
  }

  &__title {
    margin-bottom: 1em;
    @include org-title;
    // padding-bottom: 1.85em;
    padding-top: 1.7em;
    text-align: left;
  }

  &__subtitle {
    @include org-title;
    @include poly-fluid-sizing('font-size', (300px: 18px, 1440px: 30px));
    @include rem('letter-spacing', -.2px);
    line-height: 1.25;
    margin-bottom: 1.25em;
    max-width: 16em;
    text-align: left;
  }

  &__body {
    @include rem('font-size', 16px);
    @include rem('letter-spacing', .17px);
    line-height: 1.5;
    @include rem('padding-bottom', 35px);
    position: relative;
  }

  &__body-text {
    text-align: left;

    p {
      @include rem('margin-bottom', 24px);
    }
  }

  &__read-more {
    @include rem('bottom', 11px);
    @include rem('font-size', 36px);
    position: absolute;
    @include rem('right', 12px);
  }
}