@import "../variables";
@import "../mixins";

.supportive-communities {
  &__container {
    background: url('/images/20-organisms/60-supportive-communities/produce.jpg');
    background-size: cover;
    font-family: $font-monserrat;
    min-height: 400px;
  }

  &__overlay {
    background-color: rgba(#ec5b23,.5);
    padding: 0 20px;
    width: 100%;

    @media (min-width: 780px) {
      height: 100%;
      margin-left: auto;
      padding: 0 7%;
      width: 780px;
    }
  }

  &__title {
    @include org-title;
    padding-top: 1.8em;
  }

  &__statistics {
  
  }

  &__statistic-icon {
    text-align: center;

    img {
      margin-left: auto;
      margin-right: auto;
      max-height: 55px;
      max-width: 75px;
    }
  }

  &__statistic-description {
    text-align: center;
  }

  &__statistic-number {
    font-weight: bold;
  }

  &__media__container {

  }

  &__media__subtitle {

  }

  &__media__media-file {

  }
}