.navmenu-offcanvas {
  background-color: black;
  display: none;

  &.in.canvas-slid {
    display: block;
  }

  .menu-item {
    width: 100%;
  }

  .navbar-nav {
    float: left;
    margin: 0;

    .menu-item {
      a:hover {
        background-color: $color-dusk-blue;
        color: white;
      }
    }
  }

  .navbar-toggle {
    display: block;
  }
}
