<div id='importance-of-home' class="sanfrancisco__container">
  <div class="sanfrancisco__overlay">
    <div class="sanfrancisco__title wow slideInLeft">
      You Open the Door to San Francisco
    </div>
    <div class="sanfrancisco__body">
        <div class="sanfrancisco__body-text wow slideInLeft">
          <p>
            You are helping San Francisco keep its doors open to the people who make this city great. 
          </p>
          <p>
            Immigrants, activists, families, visionaries, seniors­—because of you, they continue to find sanctuary in San Francisco. Because of you, our City continues to build generations of vibrant communities. 
          </p>
          <p>
            Thank you for keeping the door open for over 4,100 people last year.
          </p>
          <p>
            You can break even more ground for housing by becoming a GroundBreaker! Find out how at: <a href="http://tndc.org/begroundbreaking" target="_blank">tndc.org/begroundbreaking</a>
          </p>
        </div>
      </div>
  </div>
</div>