<div id='stories' class="stories__container">

  <!-- Slides for small screens -->
  <div class="stories__container--small">

    <div class="stories__image-slide one">
      <div class="stories__image-slide__image"></div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
    
    <div class="stories__slide one">
      <div class="stories__overlay">
        <div class="stories__title">
          You Opened the Door for Jennifer &amp; Adora to Start a New Life 
        </div>
        <div class="stories__body">
          <div class="stories__body-text">
            <p>
              You opened the door to a new life for Jennifer and her seven-year-old daughter, Adora. You made the impossible possible for Jennifer’s family, 
            </p>
            <p>
              When Jennifer first moved into Franciscan Towers, she was in disbelief. After experiencing homelessness on and off for seven years, the idea of having a stable home where she could care for both her daughter and their new kitty seemed unimaginable. 
            </p>
          </div>
        </div>
      </div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div> 
    
    <div class="stories__slide two">
      <div class="stories__overlay">
        <div class="stories__body">
          <div class="stories__body-text">
            <p>
              “I still pinch myself every day and say ‘Is this real? Is this real?’” said Jennifer Black, a resident of Franciscan Towers for the last three years.
            </p>
            <p>
              Your support gave Jennifer the life she always wanted for her family. Now, she can work and bring Adora to regular doctor appointments, help her with homework, and attend her own weekly therapy sessions.
            </p>
            <p>
              “It’s everything I wanted. Everything that I ever wanted was to be able to support her and take care of her and help her with school,” said Jennifer, “and I’m doing it.”
            </p>
          </div>
        </div>
      </div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div> 
    
    <div class="stories__slide three">
      <div class="stories__overlay">
        <div class="stories__body">
          <div class="stories__body-text">
            <p>
              Not long ago, Jennifer lived a very different reality, where it was impossible to care for herself and her daughter the way she wanted. After leaving an abusive household, Jennifer had to navigate a network of supportive shelters in the Tenderloin.   
            </p>
            <p>
              Her daily life involved calling shelter after shelter to find an available bed. If Compass was full, she would call Glide. If Glide was full, she would call Providence. And so on. 
            </p>
          </div>
        </div>
      </div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div> 
    
    <div class="stories__slide four">
      <div class="stories__overlay">
        <div class="stories__body">
          <div class="stories__body-text">
            <p>
              The lack of stability meant Jennifer kept all her belongings in a storage space. What she carried with her she had to protect at all times. “Basically I had a stroller and that was it. We went from shelter to shelter, from place to place, until we actually found here,” remembered Jennifer. It was impossible to relax, to trust others, even to do something as simple as buy and store food for the next day.
            </p>
            <p>
              Because you are fighting to end homelessness in San Francisco, Jennifer and Adora found a home.  Because you believe in supportive communities, Jennifer has people in her home that are restoring her trust and securing Adora’s bright future.      
            </p>
          </div>
        </div>
      </div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div> 
    
    <div class="stories__slide five">
      <div class="stories__overlay">
        <div class="stories__body">
          <div class="stories__body-text">
            
            <div class="stories__body-quote">
              Even as much as I shut myself off and try to hide myself,” said Jennifer. “I still need the sense of community and hope, that there’s people supporting us, and that’s what I’m getting here.
            </div>
            <p>
              Thank you for opening the door for people to change their lives and legacies. You can change even more people’s lives and legacies. <br />
              <a href="http://tndc.org/begroundbreaking">tndc.org/begroundbreaking</a>
            </p>
            <div class="stories__house-icon first">
              <img src='/images/20-organisms/39-stories/house.svg' />
            </div>
          </div>
        </div>
      </div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div> 

    <div class="stories__image-slide four">
      <div class="stories__image-slide__image"></div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
      
    <div class="stories__slide six">
      <div class="stories__overlay">
        <div class="stories__title">
          You Opened the Door for Debra to Become a Leader
        </div>
        <div class="stories__body">
          <div class="stories__body-text">
            <p>
              Thanks to you, Debra found stable housing at Curran House. A home was only the beginning.
            </p>
            <p>
              After settling into her new home, Debra Copes found a community in her building. One of her close friends and neighbors encouraged her to join TNDC’s Leadership Academy.
            </p>
          </div>
        </div>
      </div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>

    <div class="stories__slide seven">
      <div class="stories__overlay">
        <div class="stories__body">
          <div class="stories__body-text">
            <p>
              You made it possible for Debra to spend 12 weeks practicing public speaking, learning conflict resolution techniques, and facilitating group meetings. You helped her grow as a leader.
            </p>
            <p>
              At 60 years old, she goes door to door registering voters, posts flyers for community meetings, and organizes meetings and events for her neighbors to become leaders like her.
            </p>
            <p>
              You can champion even more neighborhood leaders. <br />
              <a href="http://tndc.org/begroundbreaking">tndc.org/begroundbreaking</a>
            </p>
          </div>
        </div>
      </div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
      
    <div class="stories__media-slide eight">
      <div class="stories__media-slide__contents">
        <div class="stories__media-slide__media embed-responsive embed-responsive-16by9">
          <iframe width="853" height="480" src="https://www.youtube.com/embed/T-TAyVK8-_w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>    
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
    
    
    <div class="stories__image-slide six">
        <div class="stories__image-slide__image"></div>
        <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
      
    <div class="stories__slide nine">
      <div class="stories__overlay">
        <div class="stories__title">
            You opened the door for Manuela to focus on what matters most
        </div>
        <div class="stories__body">
          <div class="stories__body-text">
            <p>
              You opened the door for Manuela to focus on what’s most important—her family.
            </p>
            <p>
              Because of you, she has called the SOMA Family Apartments her home for the last fourteen years. Having a home means she has a place where her family can come over and be together.
            </p>
            <p>
              “Casa es donde está mi familia es,” says Manuela Ruiz. 
            </p>
          </div>
        </div>
      </div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>

    <div class="stories__slide ten">
      <div class="stories__overlay">
        <div class="stories__body">
          <div class="stories__body-text">
            <p>
              That is why she loves the holidays so much. Everyone comes over to her house and shares food. For Thanksgiving, they always eat honey-baked ham and turkey.
            </p>
            <p>
              Sometimes she makes a traditional Nicaraguan dish called Baho. See the recipe! Her grandson, who  lives with her, loves to eat it. 
            </p>
            <p>
              You have made Manuela and Nelson feel very comfortable at SOMA. They get along with their neighbors. The people at the front desk know her and her family members’ names.
            </p>
          </div>
        </div>
      </div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
      
    <div class="stories__slide eleven">
      <div class="stories__overlay">
        <div class="stories__body">
          <div class="stories__body-text">
            <p>
              SOMA is her home. She is so thankful to have a place to come back to and rest, a place that is truly hers.
            </p>
            <p>
              You can help even more people have a place to call home. <br />
              <a href="http://link to tndc.org/begroundbreaking">link to tndc.org/begroundbreaking</a>
            </p>
            <div class="stories__house-icon second">
              <img src='/images/20-organisms/39-stories/house.svg' />
            </div>
          </div>
        </div>
      </div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>





  <!-- Slides for large screens -->
  <div class="stories__container--large">

  <div class="stories__image-slide one">
      <div class="stories__image-slide__image"></div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
    <div class="stories__slide one">
      <div class="stories__overlay">
        <div class="stories__title">
          You Opened the Door for Jennifer &amp; Adora to Start a New Life 
        </div>
        <div class="stories__body">
          <div class="stories__body-text">
            <p>
              You opened the door to a new life for Jennifer and her seven-year-old daughter, Adora. You made the impossible possible for Jennifer’s family, 
            </p>
            <p>
              When Jennifer first moved into Franciscan Towers, she was in disbelief. After experiencing homelessness on and off for seven years, the idea of having a stable home where she could care for both her daughter and their new kitty seemed unimaginable. 
            </p>
            <p>
              “I still pinch myself every day and say ‘Is this real? Is this real?’” said Jennifer Black, a resident of Franciscan Towers for the last three years.
            </p>
            <p>
              Your support gave Jennifer the life she always wanted for her family. Now, she can work and bring Adora to regular doctor appointments, help her with homework, and attend her own weekly therapy sessions.
            </p>
          </div>
        </div>
      </div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div> 
    
    <div class="stories__image-slide two">
      <div class="stories__image-slide__image"></div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  
    <div class="stories__slide two">
      <div class="stories__overlay">
        <div class="stories__body">
          <div class="stories__body-text">
            <p>
              “It’s everything I wanted. Everything that I ever wanted was to be able to support her and take care of her and help her with school,” said Jennifer, “and I’m doing it.”
            </p>
            <p>
              Not long ago, Jennifer lived a very different reality, where it was impossible to care for herself and her daughter the way she wanted. After leaving an abusive household, Jennifer had to navigate a network of supportive shelters in the Tenderloin.   
            </p>
            <p>
              Her daily life involved calling shelter after shelter to find an available bed. If Compass was full, she would call Glide. If Glide was full, she would call Providence. And so on. 
            </p>
            <p>
              The lack of stability meant Jennifer kept all her belongings in a storage space. What she carried with her she had to protect at all times. “Basically I had a stroller and that was it. We went from shelter to shelter, from place to place, until we actually found here,” remembered Jennifer. It was impossible to relax, to trust others, even to do something as simple as buy and store food for the next day.
            </p>
          </div>
        </div>
      </div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div> 
  
    <div class="stories__image-slide three">
      <div class="stories__image-slide__image"></div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  
    <div class="stories__slide three">
      <div class="stories__overlay">
        <div class="stories__body">
          <div class="stories__body-text">
            <p>
              Because you are fighting to end homelessness in San Francisco, Jennifer and Adora found a home.  Because you believe in supportive communities, Jennifer has people in her home that are restoring her trust and securing Adora’s bright future.      
            </p>
            <div class="stories__body-quote">
              Even as much as I shut myself off and try to hide myself,” said Jennifer. “I still need the sense of community and hope, that there’s people supporting us, and that’s what I’m getting here.
            </div>
            <p>
              Thank you for opening the door for people to change their lives and legacies. You can change even more people’s lives and legacies. <br />
              <a href="http://tndc.org/begroundbreaking">tndc.org/begroundbreaking</a>
            </p>
            <div class="stories__house-icon first">
              <img src='/images/20-organisms/39-stories/house.svg' />
            </div>
          </div>
        </div>
      </div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div> 
  
  
    <div class="stories__image-slide four">
      <div class="stories__image-slide__image"></div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
    
    <div class="stories__slide four">
      <div class="stories__overlay">
        <div class="stories__title">
          You Opened the Door for Debra to Become a Leader
        </div>
        <div class="stories__body">
          <div class="stories__body-text">
            <p>
              Thanks to you, Debra found stable housing at Curran House. A home was only the beginning.
            </p>
            <p>
              After settling into her new home, Debra Copes found a community in her building. One of her close friends and neighbors encouraged her to join TNDC’s Leadership Academy.
            </p>
            <p>
              You made it possible for Debra to spend 12 weeks practicing public speaking, learning conflict resolution techniques, and facilitating group meetings. You helped her grow as a leader.
            </p>
            <p>
              At 60 years old, she goes door to door registering voters, posts flyers for community meetings, and organizes meetings and events for her neighbors to become leaders like her.
            </p>
            <p>
              You can champion even more neighborhood leaders. <br />
              <a href="http://tndc.org/begroundbreaking">tndc.org/begroundbreaking</a>
            </p>
          </div>
        </div>
      </div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  
  
    <div class="stories__placeholder-slide five">
    </div>
    
    <div class="stories__media-slide five">
      <div class="stories__media-slide__contents">
        <div class="stories__media-slide__media embed-responsive embed-responsive-16by9">
          <iframe width="853" height="480" src="https://www.youtube.com/embed/T-TAyVK8-_w" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>    
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  
  
    <div class="stories__image-slide six">
        <div class="stories__image-slide__image"></div>
        <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
    
    <div class="stories__slide six">
      <div class="stories__overlay">
        <div class="stories__title">
            You opened the door for Manuela to focus on what matters most
        </div>
        <div class="stories__body">
          <div class="stories__body-text">
            <p>
              You opened the door for Manuela to focus on what’s most important—her family.
            </p>
            <p>
              Because of you, she has called the SOMA Family Apartments her home for the last fourteen years. Having a home means she has a place where her family can come over and be together.
            </p>
            <p>
              “Casa es donde está mi familia es,” says Manuela Ruiz. 
            </p>
            <p>
              That is why she loves the holidays so much. Everyone comes over to her house and shares food. For Thanksgiving, they always eat honey-baked ham and turkey.
            </p>
          </div>
        </div>
      </div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  
  
    <div class="stories__image-slide seven">
        <div class="stories__image-slide__image"></div>
        <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
    
    <div class="stories__slide seven">
      <div class="stories__overlay">
        <div class="stories__body">
          <div class="stories__body-text">
            <p>
              Sometimes she makes a traditional Nicaraguan dish called Baho. See the recipe! Her grandson, who  lives with her, loves to eat it. 
            </p>
            <p>
              You have made Manuela and Nelson feel very comfortable at SOMA. They get along with their neighbors. The people at the front desk know her and her family members’ names.
            </p>
            <p>
              SOMA is her home. She is so thankful to have a place to come back to and rest, a place that is truly hers.
            </p>
            <p>
              You can help even more people have a place to call home. <br />
              <a href="http://link to tndc.org/begroundbreaking">link to tndc.org/begroundbreaking</a>
            </p>
            <div class="stories__house-icon second">
              <img src='/images/20-organisms/39-stories/house.svg' />
            </div>
          </div>
        </div>
      </div>
      <div class="stories__read-more" aria-label="Next" type="button" aria-disabled="false">
        <i class="fas fa-arrow-right"></i>
      </div>
    </div>
  </div>

</div>
