<style>

.herocontentB {
  background-image: url('{{ headerImages.small }}');
}

@media (min-width: 768px) and (max-width: 981px) {
  .herocontentB {
    background-image: url('{{ headerImages.medium }}');
  }
}

@media (min-width: 982px) {
  .herocontentB {
    background-image: url('{{ headerImages.large }}');
  }
}
</style>

<header class='herocontentB'>
  <h1 class='herocontentB__title'>
    <div>
      <span>You Open</span>
    </div>
    <div>
      <span>The Door</span>
    </div>
  </h1>
  <h2 class='herocontentB__subtitle'>
    {{ __('• 2017 Impact Report •') }}
  </h2>
</header>