<div id='impact-and-accomplishments' class="groundbreaking__container">
  <div class="groundbreaking__overlay">
    <div class="groundbreaking__title">
      In 2017 You Opened the Door to 2,232 New &amp; Improved Homes 
    </div>
    <div class="groundbreaking__statistics">
      <div class="groundbreaking__statistic-icon first wow slideInLeft">
        <img src='/images/20-organisms/50-groundbreaking/holding_hands_top.svg' />
      </div>
      <div class="groundbreaking__statistic-description first wow slideInRight">
        You helped make progress on <span class="groundbreaking__statistic-number">840</span> homes, renovate <span class="groundbreaking__statistic-number">855</span> homes in need of care, and get approval to build <span class="groundbreaking__statistic-number">537</span> brand new ones
      </div>
      <div class="groundbreaking__statistic-icon second wow slideInLeft">
          <img src='/images/20-organisms/50-groundbreaking/crane.svg' />
      </div>
      <div class="groundbreaking__statistic-description second wow slideInRight">
        Your support broke literal ground for <span class="groundbreaking__statistic-number">113</span> homes at the Eddy &amp; Taylor Family Apartments in the Tenderloin and opened <span class="groundbreaking__statistic-number">98</span> doors at the Willie B. Kennedy Apartments in the Western Addition
      </div>
      <div class="groundbreaking__statistic-description third">
        Your Support is Groundbreaking 
      </div>
    </div>
  </div>
</div>