<section id="demographics" class="demographics">

  <div class="demographics__content">
    <h2 class="demographics__title">{{ __('In 2017 you opened the door for 4,188 San Franciscans to thrive') }}</h2>
    <div class="demographics__subtitle">
      <div class="demographics__subtitle__small">{{ __('Majroity of our residents live on') }}</div>
      <div class="demographics__subtitle__large">{{ __('$15,000 a year or $1,300 a month') }}</div>
    </div>

    <div class="demographics__graph__wrapper not-visible" data-scroll>

      <div class="demographics__graph__barchart demographics__graph__barchart--one">
        <div class="demographics__graph__label">
          <div class="bold">2.4%</div>
          <div>ABOVE MODERATE</div>
        </div>
        <div class="demographics__graph__line"></div>
        <div class="demographics__graph__bar"></div>
      </div>

      <div class="demographics__graph__barchart demographics__graph__barchart--two">
        <div class="demographics__graph__label">
          <div class="bold">5.3%</div>
          <div>LOW INCOME: up to $64,550</div>
        </div>
        <div class="demographics__graph__line"></div>
        <div class="demographics__graph__bar"></div>
      </div>

      <div class="demographics__graph__barchart demographics__graph__barchart--three">
        <div class="demographics__graph__label">
          <div class="bold">8.3%</div>
          <div>VERY LOW INCOME: up to $40,350</div>
        </div>
        <div class="demographics__graph__line"></div>
        <div class="demographics__graph__bar"></div>
      </div>

      <div class="demographics__graph__barchart demographics__graph__barchart--four">
        <div class="demographics__graph__label">
          <div class="bold">84%</div>
          <div>EXTREMELY LOW INCOME: up to $24,200</div>
        </div>
        <div class="demographics__graph__bar"></div>
      </div>


    </div>
  </div>

</section>