<div class="thrive__container">
  <div class="thrive__overlay">
    <div class="thrive__title">
      IN 2017 You Opened the Door for 4,188 San Franciscans to Thrive
    </div>
    <div class="thrive__statistics">
      <div class="thrive__statistic-description first">
        Majority of our residents live on <br /><span class="thrive__statistic-number">$15,000 a year or $1,300 a month</span>
      </div>

      <div class="demographics__graph__wrapper not-visible" data-scroll>

        <div class="demographics__graph__barchart demographics__graph__barchart--one">
          <div class="demographics__graph__label">
            <div class="bold">2.4%</div>
            <div>ABOVE MODERATE</div>
          </div>
          <div class="demographics__graph__line"></div>
          <div class="demographics__graph__bar"></div>
        </div>

        <div class="demographics__graph__barchart demographics__graph__barchart--two">
          <div class="demographics__graph__label">
            <div class="bold">5.3%</div>
            <div>LOW INCOME: up to $64,550</div>
          </div>
          <div class="demographics__graph__line"></div>
          <div class="demographics__graph__bar"></div>
        </div>

        <div class="demographics__graph__barchart demographics__graph__barchart--three">
          <div class="demographics__graph__label">
            <div class="bold">8.3%</div>
            <div>VERY LOW INCOME: up to $40,350</div>
          </div>
          <div class="demographics__graph__line"></div>
          <div class="demographics__graph__bar"></div>
        </div>

        <div class="demographics__graph__barchart demographics__graph__barchart--four">
          <div class="demographics__graph__label">
            <div class="bold">84%</div>
            <div>EXTREMELY LOW INCOME: up to $24,200</div>
          </div>
          <div class="demographics__graph__bar"></div>
        </div>


      </div>

      <div class="thrive__people-graph ">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 299.36 128">
          <defs>
            <style>.cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{fill:#f3bd3b;}.cls-4{fill:#ef9021;}.cls-5{fill:#00aeef;}.cls-6{fill:#ffdc7c;}.cls-7{fill:#99ce85;}.cls-8{fill:#ffdc7d;}.cls-9{fill:#ec5c25;}.cls-10{fill:#25408f;}</style>
            <clipPath id="clip-path" transform="translate(0 0)">
              <rect class="cls-1" width="299.36" height="128.01"/>
            </clipPath>
          </defs>
          <g id="Layer_2" data-name="Layer 2">
            <g id="Layer_1-2" data-name="Layer 1">
              <g class="multiracial svg-tooltip" data-tooltip="Multiracial & Other">
                <path class="cls-3" d="M5.11,14.93a2.75,2.75,0,1,1,0,5.5,2.75,2.75,0,1,1,0-5.5" transform="translate(0 0)"/>
                <path class="cls-3" d="M16.77,0a2.83,2.83,0,0,1,2.89,2.75,2.9,2.9,0,0,1-5.79,0A2.83,2.83,0,0,1,16.77,0" transform="translate(0 0)"/>
                <path class="cls-3" d="M7.21,21.29H3a2.91,2.91,0,0,0-3,2.79v5.78a2.87,2.87,0,0,0,2.4,2.77v6.26A2.13,2.13,0,0,0,4.58,41h1a2.14,2.14,0,0,0,2.19-2.08V32.63a2.86,2.86,0,0,0,2.4-2.77V24.11a2.89,2.89,0,0,0-3-2.82h0" transform="translate(0 0)"/>
                <path class="cls-3" d="M5.11,43.49a2.76,2.76,0,1,1,0,5.51,2.76,2.76,0,1,1,0-5.51" transform="translate(0 0)"/>
                <path class="cls-3" d="M18.86,6.36H14.67a2.91,2.91,0,0,0-3,2.8v5.77a2.88,2.88,0,0,0,2.4,2.78V24a2.14,2.14,0,0,0,2.18,2.1h1A2.14,2.14,0,0,0,19.47,24V17.71a2.88,2.88,0,0,0,2.4-2.78V9.18a2.91,2.91,0,0,0-3-2.82h0" transform="translate(0 0)"/><path class="cls-10" d="M43.34,92.7h-4.2a2.91,2.91,0,0,0-3,2.8v5.77a2.88,2.88,0,0,0,2.4,2.78v6.26a2.15,2.15,0,0,0,2.18,2.1h1a2.14,2.14,0,0,0,2.19-2.09v-6.27a2.88,2.88,0,0,0,2.41-2.78V95.52a2.91,2.91,0,0,0-3-2.82h0" transform="translate(0 0)"/>
              </g>
              <g class="native-american svg-tooltip" data-tooltip="Alaskan Native, American Indian, Central, North, &amp; South American">
                <path class="cls-4" d="M5.11,101.48a2.76,2.76,0,1,1,0,5.51,2.76,2.76,0,1,1,0-5.51" transform="translate(0 0)"/>
                <path class="cls-4" d="M7.21,107.84H3a2.92,2.92,0,0,0-3,2.8v5.77a2.88,2.88,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.18,2.1h1a2.14,2.14,0,0,0,2.19-2.09v-6.27a2.87,2.87,0,0,0,2.4-2.78v-5.75a2.91,2.91,0,0,0-3-2.82h0" transform="translate(0 0)"/>
                <path class="cls-4" d="M5.11,72.54a2.76,2.76,0,1,1,0,5.51,2.76,2.76,0,1,1,0-5.51" transform="translate(0 0)"/>
                <path class="cls-4" d="M7.23,49.85H3a2.92,2.92,0,0,0-3,2.8v5.8a2.88,2.88,0,0,0,2.41,2.77v6.26a2.15,2.15,0,0,0,2.21,2.07h1a2.15,2.15,0,0,0,2.2-2.09V61.2a2.87,2.87,0,0,0,2.35-2.75V52.67a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-4" d="M7.23,78.9H3a2.92,2.92,0,0,0-3,2.8v5.8a2.88,2.88,0,0,0,2.41,2.77v6.26A2.15,2.15,0,0,0,4.64,98.6h1a2.15,2.15,0,0,0,2.2-2.09V90.25a2.87,2.87,0,0,0,2.35-2.75V81.72a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/>
              </g>
              <g class="african-american svg-tooltip" data-tooltip="African American &amp; Black">
                <path class="cls-10" d="M16.77,86.27A2.75,2.75,0,1,1,13.87,89a2.83,2.83,0,0,1,2.9-2.75" transform="translate(0 0)"/>
                <path class="cls-10" d="M43.34,6.44h-4.2a2.91,2.91,0,0,0-3,2.79V15a2.87,2.87,0,0,0,2.4,2.77V24a2.14,2.14,0,0,0,2.18,2.1h1a2.14,2.14,0,0,0,2.19-2.09V17.78A2.87,2.87,0,0,0,46.35,15V9.26a2.91,2.91,0,0,0-3-2.82h0" transform="translate(0 0)"/>
                <path class="cls-10" d="M31.42,107.91h-4.2a2.92,2.92,0,0,0-3,2.8v5.78a2.88,2.88,0,0,0,2.41,2.77v6.26a2.13,2.13,0,0,0,2.17,2.1h1a2.15,2.15,0,0,0,2.2-2.09v-6.27a2.87,2.87,0,0,0,2.4-2.77v-5.76a2.91,2.91,0,0,0-3-2.82h0" transform="translate(0 0)"/>
                <path class="cls-10" d="M18.86,92.63H14.67a2.9,2.9,0,0,0-3,2.79v5.78a2.87,2.87,0,0,0,2.4,2.77v6.26a2.13,2.13,0,0,0,2.18,2.1h1a2.14,2.14,0,0,0,2.19-2.09V104a2.87,2.87,0,0,0,2.4-2.77V95.45a2.89,2.89,0,0,0-3-2.82h0" transform="translate(0 0)"/>
                <path class="cls-10" d="M41.24,28.64a2.75,2.75,0,1,1-2.89,2.75,2.82,2.82,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-10" d="M16.77,28.56a2.76,2.76,0,1,1-2.9,2.76,2.83,2.83,0,0,1,2.9-2.76" transform="translate(0 0)"/>
                <path class="cls-10" d="M43.36,35h-4.2a2.9,2.9,0,0,0-3,2.8v5.79a2.87,2.87,0,0,0,2.4,2.78v6.26a2.13,2.13,0,0,0,2.21,2.06h1A2.14,2.14,0,0,0,44,52.61V46.35a2.87,2.87,0,0,0,2.35-2.76V37.82a2.9,2.9,0,0,0-3-2.82" transform="translate(0 0)"/><path class="cls-10" d="M18.89,34.93h-4.2a2.91,2.91,0,0,0-3,2.79v5.8a2.87,2.87,0,0,0,2.4,2.77v6.27a2.15,2.15,0,0,0,2.22,2.06h1a2.14,2.14,0,0,0,2.19-2.09V46.27a2.86,2.86,0,0,0,2.36-2.75V37.75a2.9,2.9,0,0,0-3-2.82" transform="translate(0 0)"/><path class="cls-10" d="M41.24,57.19A2.76,2.76,0,1,1,38.35,60a2.83,2.83,0,0,1,2.89-2.76" transform="translate(0 0)"/><path class="cls-10" d="M16.77,57.12a2.75,2.75,0,1,1-2.9,2.75,2.83,2.83,0,0,1,2.9-2.75" transform="translate(0 0)"/><path class="cls-10" d="M43.34,63.58h-4.2a2.91,2.91,0,0,0-3,2.79h0v5.75a2.87,2.87,0,0,0,2.4,2.78v6.26a2.15,2.15,0,0,0,2.2,2.09h1a2.14,2.14,0,0,0,2.19-2.09V74.91a2.87,2.87,0,0,0,2.41-2.78V66.38a2.91,2.91,0,0,0-3-2.8h0" transform="translate(0 0)"/><path class="cls-10" d="M18.86,63.5H14.67a2.91,2.91,0,0,0-3,2.8h0v5.75a2.88,2.88,0,0,0,2.4,2.78V81.1a2.14,2.14,0,0,0,2.19,2.09h1a2.14,2.14,0,0,0,2.19-2.08V74.84a2.88,2.88,0,0,0,2.4-2.78V66.31a2.91,2.91,0,0,0-3-2.81h0" transform="translate(0 0)"/><path class="cls-10" d="M53.21,72.42a2.75,2.75,0,1,1-2.9,2.75,2.83,2.83,0,0,1,2.9-2.75" transform="translate(0 0)"/><path class="cls-10" d="M55.29,78.79H51.1a2.91,2.91,0,0,0-3,2.83v5.75a2.88,2.88,0,0,0,2.4,2.78v6.26a2.15,2.15,0,0,0,2.2,2.09h.91a2.14,2.14,0,0,0,2.19-2.09V90.14a2.89,2.89,0,0,0,2.47-2.78V81.61a2.91,2.91,0,0,0-3-2.82h0" transform="translate(0 0)"/><path class="cls-10" d="M53.21,14.72a2.75,2.75,0,1,1-2.9,2.75,2.83,2.83,0,0,1,2.9-2.75" transform="translate(0 0)"/><path class="cls-10" d="M55.29,21.08H51.1a2.91,2.91,0,0,0-3,2.83v5.75a2.88,2.88,0,0,0,2.4,2.83v6.26a2.15,2.15,0,0,0,2.2,2.09h.91a2.14,2.14,0,0,0,2.19-2.09V32.44a2.89,2.89,0,0,0,2.47-2.78V23.91a2.9,2.9,0,0,0-3-2.83h0" transform="translate(0 0)"/><path class="cls-10" d="M53.21,43.28A2.76,2.76,0,1,1,50.31,46a2.83,2.83,0,0,1,2.9-2.75" transform="translate(0 0)"/><path class="cls-10" d="M55.29,49.64H51.1a2.91,2.91,0,0,0-3,2.83v5.75A2.87,2.87,0,0,0,50.52,61v6.26a2.15,2.15,0,0,0,2.2,2.09h.91a2.14,2.14,0,0,0,2.19-2.09V61a2.88,2.88,0,0,0,2.47-2.78V52.47a2.9,2.9,0,0,0-3-2.83h0" transform="translate(0 0)"/>
                <path class="cls-10" d="M65.14.07A2.83,2.83,0,0,1,68,2.83a2.89,2.89,0,0,1-5.78,0A2.83,2.83,0,0,1,65.14.07" transform="translate(0 0)"/>
                <path class="cls-10" d="M65.14,86.34a2.76,2.76,0,1,1-2.89,2.75,2.82,2.82,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-10" d="M53.21,101.55a2.76,2.76,0,1,1-2.9,2.76,2.83,2.83,0,0,1,2.9-2.76" transform="translate(0 0)"/>
                <path class="cls-10" d="M67.24,6.44H63a2.9,2.9,0,0,0-3,2.83V15a2.87,2.87,0,0,0,2.4,2.77v6.26a2.14,2.14,0,0,0,2.19,2.09h1a2.14,2.14,0,0,0,2.19-2.09V17.78A2.86,2.86,0,0,0,70.21,15V9.26a2.9,2.9,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-10" d="M67.24,92.7H63a2.9,2.9,0,0,0-3,2.83v5.75a2.88,2.88,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.19,2.09h1a2.14,2.14,0,0,0,2.19-2.09v-6.27a2.87,2.87,0,0,0,2.4-2.78V95.52a2.9,2.9,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-10" d="M55.31,107.91h-4.2a2.92,2.92,0,0,0-3,2.84v5.75a2.88,2.88,0,0,0,2.41,2.77v6.26a2.14,2.14,0,0,0,2.19,2.09h1a2.14,2.14,0,0,0,2.2-2.09v-6.27a2.87,2.87,0,0,0,2.4-2.77v-5.76a2.92,2.92,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-10" d="M65.14,28.64a2.75,2.75,0,1,1-2.89,2.75,2.82,2.82,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-10" d="M67.25,35h-4.2a2.9,2.9,0,0,0-3,2.83v5.76a2.87,2.87,0,0,0,2.4,2.78v6.26a2.13,2.13,0,0,0,2.18,2.06h1a2.14,2.14,0,0,0,2.19-2.08V46.35a2.88,2.88,0,0,0,2.4-2.76V37.82a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-10" d="M65.14,57.19A2.76,2.76,0,1,1,62.25,60a2.83,2.83,0,0,1,2.89-2.76" transform="translate(0 0)"/>
                <path class="cls-10" d="M67.24,63.58H63a2.9,2.9,0,0,0-3,2.83v5.75a2.87,2.87,0,0,0,2.4,2.77v6.26a2.14,2.14,0,0,0,2.19,2.09h1a2.14,2.14,0,0,0,2.19-2.09V74.91a2.86,2.86,0,0,0,2.4-2.78V66.38a2.9,2.9,0,0,0-3-2.8" transform="translate(0 0)"/>
                <path class="cls-10" d="M79.23,78.79H75a2.91,2.91,0,0,0-3,2.83v5.75a2.89,2.89,0,0,0,2.41,2.78v6.26a2.14,2.14,0,0,0,2.19,2.09h.95a2.15,2.15,0,0,0,2.2-2.09V90.14a2.88,2.88,0,0,0,2.4-2.78V81.61a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-10" d="M79.23,107.91H75a2.92,2.92,0,0,0-3,2.8v5.78a2.87,2.87,0,0,0,2.4,2.77v6.26a2.14,2.14,0,0,0,2.18,2.1h1a2.14,2.14,0,0,0,2.19-2.09v-6.27a2.86,2.86,0,0,0,2.4-2.77v-5.76a2.91,2.91,0,0,0-3-2.82h0" transform="translate(0 0)"/>
                <path class="cls-10" d="M77.13,101.55a2.76,2.76,0,1,1-2.9,2.76,2.83,2.83,0,0,1,2.9-2.76" transform="translate(0 0)"/>
              </g>
              <g class="svg-tooltip graph-group-asian" data-tooltip="Asian">
                <path class="cls-5" d="M101,72.42a2.75,2.75,0,1,1-2.89,2.75A2.82,2.82,0,0,1,101,72.42" transform="translate(0 0)"/>
                <path class="cls-5" d="M103.1,78.79H98.9a2.9,2.9,0,0,0-3,2.83v5.75a2.88,2.88,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.19,2.09h.91a2.14,2.14,0,0,0,2.19-2.09V90.14a2.89,2.89,0,0,0,2.48-2.78V81.61a2.91,2.91,0,0,0-3-2.82h0" transform="translate(0 0)"/>
                <path class="cls-5" d="M101,14.72a2.75,2.75,0,1,1-2.89,2.75A2.82,2.82,0,0,1,101,14.72" transform="translate(0 0)"/>
                <path class="cls-5" d="M103.1,21.08H98.9a2.9,2.9,0,0,0-3,2.83v5.75a2.86,2.86,0,0,0,2.4,2.83v6.26a2.14,2.14,0,0,0,2.19,2.09h.91a2.14,2.14,0,0,0,2.19-2.09V32.44a2.89,2.89,0,0,0,2.48-2.78V23.91a2.91,2.91,0,0,0-3-2.83h0" transform="translate(0 0)"/>
                <path class="cls-5" d="M101,43.28A2.76,2.76,0,1,1,98.12,46,2.82,2.82,0,0,1,101,43.28" transform="translate(0 0)"/>
                <path class="cls-5" d="M103.1,49.64H98.9a2.9,2.9,0,0,0-3,2.83v5.75A2.87,2.87,0,0,0,98.33,61v6.26a2.14,2.14,0,0,0,2.19,2.09h.91a2.14,2.14,0,0,0,2.19-2.09V61a2.88,2.88,0,0,0,2.48-2.78V52.47a2.91,2.91,0,0,0-3-2.83h0" transform="translate(0 0)"/>
                <path class="cls-5" d="M113,.07a2.83,2.83,0,0,1,2.89,2.76,2.89,2.89,0,0,1-5.78,0A2.83,2.83,0,0,1,113,.07" transform="translate(0 0)"/>
                <path class="cls-5" d="M113,86.34a2.76,2.76,0,1,1-2.89,2.75A2.82,2.82,0,0,1,113,86.34" transform="translate(0 0)"/>
                <path class="cls-5" d="M115.05,6.44h-4.2a2.9,2.9,0,0,0-3,2.83V15a2.86,2.86,0,0,0,2.4,2.77v6.26a2.14,2.14,0,0,0,2.19,2.09h1a2.14,2.14,0,0,0,2.19-2.09V17.78A2.87,2.87,0,0,0,118,15V9.26a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-5" d="M115.05,92.7h-4.2a2.9,2.9,0,0,0-3,2.83v5.75a2.87,2.87,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.19,2.09h1a2.14,2.14,0,0,0,2.19-2.09v-6.27a2.88,2.88,0,0,0,2.4-2.78V95.52a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-5" d="M113,28.64a2.75,2.75,0,1,1-2.89,2.75A2.82,2.82,0,0,1,113,28.64" transform="translate(0 0)"/>
                <path class="cls-5" d="M115.05,35h-4.2a2.9,2.9,0,0,0-3,2.83v5.76a2.88,2.88,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.18,2.06h1a2.14,2.14,0,0,0,2.19-2.08V46.35a2.87,2.87,0,0,0,2.4-2.76V37.82a2.89,2.89,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-5" d="M113,57.19A2.76,2.76,0,1,1,110.06,60,2.83,2.83,0,0,1,113,57.19" transform="translate(0 0)"/>
                <path class="cls-5" d="M115.05,63.58h-4.2a2.9,2.9,0,0,0-3,2.83v5.75a2.86,2.86,0,0,0,2.4,2.77v6.26a2.14,2.14,0,0,0,2.19,2.09h1a2.14,2.14,0,0,0,2.19-2.09V74.91a2.87,2.87,0,0,0,2.4-2.78V66.38a2.9,2.9,0,0,0-3-2.8" transform="translate(0 0)"/>
                <path class="cls-5" d="M125.43,72.49a2.76,2.76,0,1,1-2.89,2.75,2.83,2.83,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-5" d="M127.53,78.86h-4.2a2.9,2.9,0,0,0-3,2.83v5.76a2.87,2.87,0,0,0,2.4,2.77v6.26A2.14,2.14,0,0,0,125,98.57h1a2.14,2.14,0,0,0,2.19-2.09V90.21a2.86,2.86,0,0,0,2.4-2.78V81.68a2.9,2.9,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-5" d="M125.43,14.79a2.76,2.76,0,1,1-2.89,2.75,2.83,2.83,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-5" d="M127.53,21.15h-4.2a2.9,2.9,0,0,0-3,2.83v5.75a2.86,2.86,0,0,0,2.4,2.83v6.27a2.14,2.14,0,0,0,2.2,2.08h1a2.14,2.14,0,0,0,2.19-2.08V32.51a2.88,2.88,0,0,0,2.41-2.78V24a2.91,2.91,0,0,0-3-2.83" transform="translate(0 0)"/>
                <path class="cls-5" d="M125.43,43.36a2.75,2.75,0,1,1-2.89,2.75,2.83,2.83,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-5" d="M127.53,49.72h-4.2a2.9,2.9,0,0,0-3,2.83V58.3a2.87,2.87,0,0,0,2.4,2.77v6.26a2.15,2.15,0,0,0,2.2,2.09h1a2.14,2.14,0,0,0,2.19-2.09V61.07a2.88,2.88,0,0,0,2.41-2.77V52.55a2.91,2.91,0,0,0-3-2.83" transform="translate(0 0)"/>
                <path class="cls-5" d="M137.07.15A2.83,2.83,0,0,1,140,2.9a2.9,2.9,0,0,1-5.79,0,2.83,2.83,0,0,1,2.9-2.75" transform="translate(0 0)"/>
                <path class="cls-5" d="M137.64,86.41a2.76,2.76,0,1,1-2.89,2.76,2.83,2.83,0,0,1,2.89-2.76" transform="translate(0 0)"/>
                <path class="cls-5" d="M125.43,101.63a2.75,2.75,0,1,1-2.89,2.75,2.83,2.83,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-5" d="M139.17,6.51H135a2.91,2.91,0,0,0-3,2.8v5.77a2.87,2.87,0,0,0,2.4,2.77v6.27a2.14,2.14,0,0,0,2.18,2.1h1a2.14,2.14,0,0,0,2.19-2.08V17.85a2.86,2.86,0,0,0,2.4-2.77V9.33a2.89,2.89,0,0,0-3-2.82h0" transform="translate(0 0)"/>
                <path class="cls-5" d="M139.74,92.77h-4.2a2.92,2.92,0,0,0-3,2.8v5.78a2.87,2.87,0,0,0,2.4,2.77v6.26a2.15,2.15,0,0,0,2.18,2.1h1a2.14,2.14,0,0,0,2.19-2.09v-6.27a2.86,2.86,0,0,0,2.4-2.77V95.59a2.91,2.91,0,0,0-3-2.82h0" transform="translate(0 0)"/>
                <path class="cls-5" d="M127.53,108h-4.2a2.9,2.9,0,0,0-3,2.8v5.77a2.86,2.86,0,0,0,2.4,2.77v6.27a2.14,2.14,0,0,0,2.18,2.1h1a2.14,2.14,0,0,0,2.19-2.08v-6.28a2.87,2.87,0,0,0,2.4-2.77v-5.75a2.9,2.9,0,0,0-3-2.82h0" transform="translate(0 0)"/>
                <path class="cls-5" d="M137.07,28.71a2.76,2.76,0,1,1-2.9,2.76,2.83,2.83,0,0,1,2.9-2.76" transform="translate(0 0)"/>
                <path class="cls-5" d="M139.17,35.07H135a2.92,2.92,0,0,0-3,2.8v5.8a2.87,2.87,0,0,0,2.4,2.77V52.7a2.15,2.15,0,0,0,2.22,2.07h1a2.14,2.14,0,0,0,2.19-2.09V46.42a2.87,2.87,0,0,0,2.36-2.75V37.89a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-5" d="M137.07,57.27a2.75,2.75,0,1,1-2.9,2.75,2.83,2.83,0,0,1,2.9-2.75" transform="translate(0 0)"/>
                <path class="cls-5" d="M139.17,63.65H135a2.91,2.91,0,0,0-3,2.8h0v5.75a2.87,2.87,0,0,0,2.4,2.77v6.27a2.14,2.14,0,0,0,2.19,2.08h1a2.14,2.14,0,0,0,2.19-2.08V75a2.86,2.86,0,0,0,2.4-2.77V66.46a2.9,2.9,0,0,0-3-2.81h0" transform="translate(0 0)"/>
                <path class="cls-5" d="M149.32,72.49a2.76,2.76,0,1,1-2.89,2.75,2.82,2.82,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-5" d="M151.41,78.86h-4.2a2.91,2.91,0,0,0-3,2.83v5.76a2.88,2.88,0,0,0,2.41,2.77v6.26a2.14,2.14,0,0,0,2.19,2.09h.91a2.14,2.14,0,0,0,2.19-2.09V90.21a2.88,2.88,0,0,0,2.47-2.78V81.68a2.91,2.91,0,0,0-3-2.82h0" transform="translate(0 0)"/>
                <path class="cls-5" d="M149.32,14.79a2.76,2.76,0,1,1-2.89,2.75,2.82,2.82,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-5" d="M151.41,21.15h-4.2a2.9,2.9,0,0,0-3,2.83v5.75a2.85,2.85,0,0,0,2.4,2.83v6.27a2.14,2.14,0,0,0,2.19,2.08h.91a2.14,2.14,0,0,0,2.19-2.08V32.51a2.87,2.87,0,0,0,2.47-2.78V24a2.9,2.9,0,0,0-3-2.83h0" transform="translate(0 0)"/>
                <path class="cls-5" d="M149.32,43.36a2.75,2.75,0,1,1-2.89,2.75,2.82,2.82,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-5" d="M151.41,49.72h-4.2a2.91,2.91,0,0,0-3,2.83V58.3a2.88,2.88,0,0,0,2.41,2.77v6.26a2.14,2.14,0,0,0,2.19,2.09h.91a2.14,2.14,0,0,0,2.19-2.09V61.07a2.87,2.87,0,0,0,2.47-2.77V52.55a2.9,2.9,0,0,0-3-2.83h0" transform="translate(0 0)"/>
                <path class="cls-5" d="M161.25.15a2.83,2.83,0,0,1,2.9,2.75,2.9,2.9,0,0,1-5.79,0A2.83,2.83,0,0,1,161.25.15" transform="translate(0 0)"/>
                <path class="cls-5" d="M149.32,101.63a2.75,2.75,0,1,1-2.89,2.75,2.82,2.82,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-5" d="M163.35,6.51h-4.19a2.91,2.91,0,0,0-3,2.83v5.75a2.88,2.88,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.2,2.08h.95a2.14,2.14,0,0,0,2.19-2.08V17.85a2.87,2.87,0,0,0,2.41-2.77V9.33a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-5" d="M151.42,108h-4.2a2.9,2.9,0,0,0-3,2.83v5.75a2.87,2.87,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.19,2.08h1a2.14,2.14,0,0,0,2.19-2.08v-6.28a2.87,2.87,0,0,0,2.4-2.77v-5.75a2.9,2.9,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-5" d="M161.25,28.71a2.76,2.76,0,1,1-2.89,2.76,2.84,2.84,0,0,1,2.89-2.76" transform="translate(0 0)"/>
                <path class="cls-5" d="M163.36,35.07h-4.2a2.9,2.9,0,0,0-3,2.83v5.77a2.87,2.87,0,0,0,2.4,2.77V52.7a2.14,2.14,0,0,0,2.18,2.07h1a2.14,2.14,0,0,0,2.19-2.09V46.42a2.87,2.87,0,0,0,2.4-2.75V37.89a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-5" d="M77.13,72.42a2.75,2.75,0,1,1-2.9,2.75,2.83,2.83,0,0,1,2.9-2.75" transform="translate(0 0)"/>
                <path class="cls-5" d="M91.14,6.44H87a2.9,2.9,0,0,0-3,2.79V15a2.87,2.87,0,0,0,2.4,2.77V24a2.13,2.13,0,0,0,2.18,2.1h1a2.14,2.14,0,0,0,2.19-2.09V17.78A2.86,2.86,0,0,0,94.15,15V9.26a2.89,2.89,0,0,0-3-2.82h0" transform="translate(0 0)"/>
                <path class="cls-5" d="M91.14,92.7H87a2.9,2.9,0,0,0-3,2.8v5.77a2.88,2.88,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.18,2.1h1a2.14,2.14,0,0,0,2.19-2.09v-6.27a2.87,2.87,0,0,0,2.4-2.78V95.52a2.9,2.9,0,0,0-3-2.82h0" transform="translate(0 0)"/>
                <path class="cls-5" d="M89.05,28.64a2.75,2.75,0,1,1-2.9,2.75,2.83,2.83,0,0,1,2.9-2.75" transform="translate(0 0)"/>
                <path class="cls-5" d="M91.17,35H87a2.91,2.91,0,0,0-3,2.8v5.79a2.88,2.88,0,0,0,2.4,2.78v6.26a2.15,2.15,0,0,0,2.22,2.06h1a2.14,2.14,0,0,0,2.19-2.08V46.35a2.88,2.88,0,0,0,2.36-2.76V37.82a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/><path class="cls-5" d="M89.05,57.19A2.76,2.76,0,1,1,86.15,60a2.83,2.83,0,0,1,2.9-2.76" transform="translate(0 0)"/><path class="cls-5" d="M91.14,63.58H87a2.9,2.9,0,0,0-3,2.79h0v5.75a2.87,2.87,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.19,2.09h1a2.14,2.14,0,0,0,2.19-2.09V74.91a2.86,2.86,0,0,0,2.4-2.78V66.38a2.89,2.89,0,0,0-3-2.8h0" transform="translate(0 0)"/><path class="cls-5" d="M101,101.55a2.76,2.76,0,1,1-2.89,2.76,2.83,2.83,0,0,1,2.89-2.76" transform="translate(0 0)"/><path class="cls-5" d="M103.11,107.91h-4.2a2.91,2.91,0,0,0-3,2.84v5.75a2.87,2.87,0,0,0,2.4,2.77v6.26a2.14,2.14,0,0,0,2.19,2.09h1a2.14,2.14,0,0,0,2.19-2.09v-6.27a2.86,2.86,0,0,0,2.4-2.77v-5.76a2.9,2.9,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-5" d="M77.13,14.72a2.75,2.75,0,1,1-2.9,2.75,2.83,2.83,0,0,1,2.9-2.75" transform="translate(0 0)"/>
                <path class="cls-5" d="M79.23,21.08H75a2.91,2.91,0,0,0-3,2.83v5.75a2.88,2.88,0,0,0,2.41,2.83v6.26a2.14,2.14,0,0,0,2.19,2.09h.95a2.14,2.14,0,0,0,2.2-2.09V32.44a2.88,2.88,0,0,0,2.4-2.78V23.91a2.9,2.9,0,0,0-3-2.83" transform="translate(0 0)"/><path class="cls-5" d="M77.13,43.28A2.76,2.76,0,1,1,74.23,46a2.83,2.83,0,0,1,2.9-2.75" transform="translate(0 0)"/>
                <path class="cls-5" d="M79.23,49.64H75a2.91,2.91,0,0,0-3,2.83v5.75A2.88,2.88,0,0,0,74.46,61v6.26a2.14,2.14,0,0,0,2.19,2.09h.95a2.15,2.15,0,0,0,2.2-2.09V61a2.87,2.87,0,0,0,2.4-2.78V52.47a2.9,2.9,0,0,0-3-2.83" transform="translate(0 0)"/><path class="cls-5" d="M89.05.07a2.83,2.83,0,0,1,2.89,2.76,2.9,2.9,0,0,1-5.79,0A2.84,2.84,0,0,1,89.05.07" transform="translate(0 0)"/>
                <path class="cls-5" d="M89.05,86.34a2.76,2.76,0,1,1-2.9,2.75,2.83,2.83,0,0,1,2.9-2.75" transform="translate(0 0)"/>
              </g>
              <g class="svg-tooltip graph-group-native-american" data-tooltip="Native American &amp; Pacific Islander">
                <path class="cls-7" d="M161.25,86.41a2.76,2.76,0,1,1-2.89,2.76,2.84,2.84,0,0,1,2.89-2.76" transform="translate(0 0)"/>
                <path class="cls-7" d="M163.35,92.77h-4.19a2.91,2.91,0,0,0-3,2.84v5.75a2.87,2.87,0,0,0,2.4,2.77v6.26a2.15,2.15,0,0,0,2.2,2.09h.95a2.14,2.14,0,0,0,2.19-2.09v-6.27a2.87,2.87,0,0,0,2.41-2.77V95.59a2.92,2.92,0,0,0-3-2.82" transform="translate(0 0)"/><path class="cls-7" d="M161.25,57.27A2.75,2.75,0,1,1,158.36,60a2.83,2.83,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-7" d="M163.35,63.65h-4.19a2.91,2.91,0,0,0-3,2.83v5.75a2.88,2.88,0,0,0,2.4,2.78v6.26a2.15,2.15,0,0,0,2.2,2.09h.95a2.14,2.14,0,0,0,2.19-2.09V75a2.87,2.87,0,0,0,2.41-2.77V66.46a2.91,2.91,0,0,0-3-2.81" transform="translate(0 0)"/>
                <path class="cls-7" d="M173.24,72.49a2.76,2.76,0,1,1-2.89,2.75,2.82,2.82,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-7" d="M175.34,78.86h-4.2a2.9,2.9,0,0,0-3,2.83v5.76a2.86,2.86,0,0,0,2.4,2.77v6.26a2.14,2.14,0,0,0,2.19,2.09h1a2.14,2.14,0,0,0,2.19-2.09V90.21a2.87,2.87,0,0,0,2.4-2.78V81.68a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-7" d="M173.24,14.79a2.76,2.76,0,1,1-2.89,2.75,2.82,2.82,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-7" d="M175.34,21.15h-4.2a2.9,2.9,0,0,0-3,2.83v5.75a2.85,2.85,0,0,0,2.4,2.83v6.27a2.14,2.14,0,0,0,2.19,2.08h1a2.14,2.14,0,0,0,2.19-2.08V32.51a2.87,2.87,0,0,0,2.4-2.78V24a2.9,2.9,0,0,0-3-2.83" transform="translate(0 0)"/>
                <path class="cls-7" d="M173.24,43.36a2.75,2.75,0,1,1-2.89,2.75,2.82,2.82,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-7" d="M175.34,49.72h-4.2a2.9,2.9,0,0,0-3,2.83V58.3a2.86,2.86,0,0,0,2.4,2.77v6.26a2.14,2.14,0,0,0,2.19,2.09h1a2.14,2.14,0,0,0,2.19-2.09V61.07a2.87,2.87,0,0,0,2.4-2.77V52.55a2.9,2.9,0,0,0-3-2.83" transform="translate(0 0)"/>
                <path class="cls-7" d="M185.16.15a2.83,2.83,0,0,1,2.89,2.75,2.89,2.89,0,0,1-5.78,0A2.82,2.82,0,0,1,185.16.15" transform="translate(0 0)"/>
                <path class="cls-7" d="M185.16,86.41a2.76,2.76,0,1,1-2.89,2.76,2.83,2.83,0,0,1,2.89-2.76" transform="translate(0 0)"/>
                <path class="cls-7" d="M173.24,101.63a2.75,2.75,0,1,1-2.89,2.75,2.82,2.82,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-7" d="M187.26,6.51h-4.2a2.91,2.91,0,0,0-3,2.8v5.77a2.87,2.87,0,0,0,2.4,2.77v6.27a2.15,2.15,0,0,0,2.18,2.1h1a2.14,2.14,0,0,0,2.19-2.08V17.85a2.86,2.86,0,0,0,2.4-2.77V9.33a2.89,2.89,0,0,0-3-2.82h0" transform="translate(0 0)"/>
                <path class="cls-7" d="M175.34,108h-4.2a2.91,2.91,0,0,0-3,2.8v5.77a2.87,2.87,0,0,0,2.4,2.77v6.27a2.15,2.15,0,0,0,2.18,2.1h1a2.14,2.14,0,0,0,2.19-2.08v-6.28a2.88,2.88,0,0,0,2.41-2.77v-5.75a2.91,2.91,0,0,0-3-2.82h0" transform="translate(0 0)"/>
                <path class="cls-7" d="M185.16,28.71a2.76,2.76,0,1,1-2.89,2.76,2.83,2.83,0,0,1,2.89-2.76" transform="translate(0 0)"/>
                <path class="cls-7" d="M187.28,35.07h-4.2a2.92,2.92,0,0,0-3,2.8v5.8a2.88,2.88,0,0,0,2.41,2.77V52.7a2.14,2.14,0,0,0,2.21,2.07h1a2.15,2.15,0,0,0,2.2-2.09V46.42a2.87,2.87,0,0,0,2.35-2.75V37.89a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-7" d="M185.16,57.27A2.75,2.75,0,1,1,182.27,60a2.83,2.83,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-7" d="M187.26,63.65h-4.2a2.91,2.91,0,0,0-3,2.8h0v5.75a2.87,2.87,0,0,0,2.4,2.77v6.27a2.14,2.14,0,0,0,2.19,2.08h1a2.14,2.14,0,0,0,2.19-2.08V75a2.86,2.86,0,0,0,2.4-2.77V66.46a2.9,2.9,0,0,0-3-2.81h0" transform="translate(0 0)"/>
              </g>

              <g class="svg-tooltip graph-group-white" data-tooltip="White">
                <path class="cls-8" d="M197.12,72.49a2.76,2.76,0,1,1-2.89,2.75,2.83,2.83,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-8" d="M199.21,78.86H195a2.9,2.9,0,0,0-3,2.83v5.76a2.87,2.87,0,0,0,2.4,2.77v6.26a2.14,2.14,0,0,0,2.19,2.09h.91a2.15,2.15,0,0,0,2.2-2.09V90.21a2.88,2.88,0,0,0,2.47-2.78V81.68a2.91,2.91,0,0,0-3-2.82h0" transform="translate(0 0)"/>
                <path class="cls-8" d="M197.12,14.79a2.76,2.76,0,1,1-2.89,2.75,2.83,2.83,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-8" d="M199.21,21.15H195A2.9,2.9,0,0,0,192,24v5.75a2.86,2.86,0,0,0,2.4,2.83v6.27a2.14,2.14,0,0,0,2.19,2.08h.91a2.14,2.14,0,0,0,2.2-2.08V32.51a2.88,2.88,0,0,0,2.47-2.78V24a2.91,2.91,0,0,0-3-2.83h0" transform="translate(0 0)"/><path class="cls-8" d="M197.12,43.36a2.75,2.75,0,1,1-2.89,2.75,2.83,2.83,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-8" d="M199.21,49.72H195a2.9,2.9,0,0,0-3,2.83V58.3a2.87,2.87,0,0,0,2.4,2.77v6.26a2.14,2.14,0,0,0,2.19,2.09h.91a2.15,2.15,0,0,0,2.2-2.09V61.07a2.87,2.87,0,0,0,2.47-2.77V52.55a2.9,2.9,0,0,0-3-2.83h0" transform="translate(0 0)"/>
                <path class="cls-8" d="M209.06.15A2.82,2.82,0,0,1,212,2.9a2.89,2.89,0,0,1-5.78,0A2.82,2.82,0,0,1,209.06.15" transform="translate(0 0)"/>
                <path class="cls-8" d="M209.06,86.41a2.76,2.76,0,1,1-2.89,2.76,2.83,2.83,0,0,1,2.89-2.76" transform="translate(0 0)"/>
                <path class="cls-8" d="M211.16,6.51H207a2.9,2.9,0,0,0-3,2.83v5.75a2.88,2.88,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.19,2.08h1a2.14,2.14,0,0,0,2.19-2.08V17.85a2.86,2.86,0,0,0,2.4-2.77V9.33a2.9,2.9,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-8" d="M211.16,92.77H207a2.91,2.91,0,0,0-3,2.84v5.75a2.87,2.87,0,0,0,2.4,2.77v6.26a2.14,2.14,0,0,0,2.19,2.09h1a2.14,2.14,0,0,0,2.19-2.09v-6.27a2.86,2.86,0,0,0,2.4-2.77V95.59a2.9,2.9,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-8" d="M209.06,28.71a2.76,2.76,0,1,1-2.89,2.76,2.83,2.83,0,0,1,2.89-2.76" transform="translate(0 0)"/>
                <path class="cls-8" d="M211.16,35.07H207a2.91,2.91,0,0,0-3,2.83v5.77a2.88,2.88,0,0,0,2.41,2.77V52.7a2.14,2.14,0,0,0,2.18,2.07h.95a2.14,2.14,0,0,0,2.19-2.09V46.42a2.88,2.88,0,0,0,2.41-2.75V37.89a2.92,2.92,0,0,0-3-2.82" transform="translate(0 0)"/><path class="cls-8" d="M209.06,57.27A2.75,2.75,0,1,1,206.17,60a2.82,2.82,0,0,1,2.89-2.75" transform="translate(0 0)"/><path class="cls-8" d="M211.16,63.65H207a2.9,2.9,0,0,0-3,2.83v5.75a2.88,2.88,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.19,2.09h1a2.14,2.14,0,0,0,2.19-2.09V75a2.86,2.86,0,0,0,2.4-2.77V66.46a2.9,2.9,0,0,0-3-2.81" transform="translate(0 0)"/><path class="cls-8" d="M221.17,72.56a2.76,2.76,0,1,1-2.89,2.76,2.83,2.83,0,0,1,2.89-2.76" transform="translate(0 0)"/>
                <path class="cls-8" d="M223.27,78.94h-4.2a2.91,2.91,0,0,0-3,2.83v5.75a2.88,2.88,0,0,0,2.41,2.77v6.27a2.14,2.14,0,0,0,2.19,2.08h.95a2.14,2.14,0,0,0,2.2-2.08V90.28a2.87,2.87,0,0,0,2.4-2.77V81.76a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/><path class="cls-8" d="M221.17,14.86a2.76,2.76,0,1,1-2.89,2.76,2.83,2.83,0,0,1,2.89-2.76" transform="translate(0 0)"/><path class="cls-8" d="M223.27,21.23h-4.2a2.9,2.9,0,0,0-3,2.83v5.75a2.87,2.87,0,0,0,2.4,2.83V38.9A2.14,2.14,0,0,0,220.69,41h1a2.14,2.14,0,0,0,2.19-2.09V32.58a2.87,2.87,0,0,0,2.4-2.77V24.06a2.9,2.9,0,0,0-3-2.83" transform="translate(0 0)"/><path class="cls-8" d="M221.17,43.43a2.75,2.75,0,1,1-2.89,2.75,2.83,2.83,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-8" d="M223.27,49.79h-4.2a2.91,2.91,0,0,0-3,2.83v5.75a2.89,2.89,0,0,0,2.41,2.78v6.26a2.14,2.14,0,0,0,2.19,2.09h.95a2.15,2.15,0,0,0,2.2-2.09V61.15a2.88,2.88,0,0,0,2.4-2.78V52.62a2.9,2.9,0,0,0-3-2.83" transform="translate(0 0)"/><path class="cls-8" d="M233.09.22A2.83,2.83,0,0,1,236,3a2.9,2.9,0,0,1-5.79,0,2.83,2.83,0,0,1,2.9-2.75" transform="translate(0 0)"/><path class="cls-8" d="M233.09,86.49a2.75,2.75,0,1,1-2.9,2.75,2.83,2.83,0,0,1,2.9-2.75" transform="translate(0 0)"/><path class="cls-8" d="M221.17,101.7a2.76,2.76,0,1,1-2.89,2.75,2.83,2.83,0,0,1,2.89-2.75" transform="translate(0 0)"/><path class="cls-8" d="M235.18,6.58H231a2.92,2.92,0,0,0-3,2.8v5.77a2.87,2.87,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.18,2.1h1a2.14,2.14,0,0,0,2.19-2.09V17.93a2.86,2.86,0,0,0,2.4-2.78V9.4a2.91,2.91,0,0,0-3-2.82h0" transform="translate(0 0)"/><path class="cls-8" d="M235.18,92.85H231a2.91,2.91,0,0,0-3,2.79v5.78a2.87,2.87,0,0,0,2.4,2.77v6.26a2.13,2.13,0,0,0,2.18,2.1h1a2.14,2.14,0,0,0,2.19-2.08v-6.28a2.86,2.86,0,0,0,2.4-2.77V95.67a2.89,2.89,0,0,0-3-2.82h0" transform="translate(0 0)"/><path class="cls-8" d="M223.27,108.06h-4.2a2.92,2.92,0,0,0-3,2.8v5.77a2.87,2.87,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.18,2.1h1a2.14,2.14,0,0,0,2.19-2.09v-6.27a2.86,2.86,0,0,0,2.4-2.78v-5.75a2.91,2.91,0,0,0-3-2.82h0" transform="translate(0 0)"/><path class="cls-8" d="M233.09,28.79a2.75,2.75,0,1,1-2.9,2.75,2.83,2.83,0,0,1,2.9-2.75" transform="translate(0 0)"/><path class="cls-8" d="M235.21,35.15H231a2.91,2.91,0,0,0-3,2.79v5.8a2.87,2.87,0,0,0,2.4,2.77v6.27a2.15,2.15,0,0,0,2.22,2.06h1a2.14,2.14,0,0,0,2.19-2.09V46.49a2.86,2.86,0,0,0,2.36-2.75V38a2.9,2.9,0,0,0-3-2.82" transform="translate(0 0)"/><path class="cls-8" d="M233.09,57.34a2.76,2.76,0,1,1-2.9,2.75,2.83,2.83,0,0,1,2.9-2.75" transform="translate(0 0)"/><path class="cls-8" d="M235.18,63.72H231a2.92,2.92,0,0,0-3,2.8h0v5.75a2.88,2.88,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.19,2.09h1a2.14,2.14,0,0,0,2.19-2.09V75.06a2.87,2.87,0,0,0,2.4-2.78V66.53a2.91,2.91,0,0,0-3-2.81h0" transform="translate(0 0)"/><path class="cls-8" d="M245.05,72.56a2.76,2.76,0,1,1-2.89,2.76,2.83,2.83,0,0,1,2.89-2.76" transform="translate(0 0)"/><path class="cls-8" d="M247.14,78.94h-4.2a2.9,2.9,0,0,0-3,2.83v5.75a2.87,2.87,0,0,0,2.4,2.77v6.27a2.14,2.14,0,0,0,2.19,2.08h.91a2.14,2.14,0,0,0,2.19-2.08V90.28a2.87,2.87,0,0,0,2.48-2.77V81.76a2.91,2.91,0,0,0-3-2.82h0" transform="translate(0 0)"/><path class="cls-8" d="M245.05,14.86a2.76,2.76,0,1,1-2.89,2.76,2.83,2.83,0,0,1,2.89-2.76" transform="translate(0 0)"/><path class="cls-8" d="M247.14,21.23h-4.2a2.9,2.9,0,0,0-3,2.83v5.75a2.87,2.87,0,0,0,2.4,2.83V38.9A2.14,2.14,0,0,0,244.56,41h.91a2.14,2.14,0,0,0,2.19-2.09V32.58a2.87,2.87,0,0,0,2.48-2.77V24.06a2.91,2.91,0,0,0-3-2.83h0" transform="translate(0 0)"/><path class="cls-8" d="M245.05,43.43a2.75,2.75,0,1,1-2.89,2.75,2.82,2.82,0,0,1,2.89-2.75" transform="translate(0 0)"/><path class="cls-8" d="M247.14,49.79h-4.2a2.9,2.9,0,0,0-3,2.83v5.75a2.88,2.88,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.19,2.09h.91a2.14,2.14,0,0,0,2.19-2.09V61.15a2.88,2.88,0,0,0,2.48-2.78V52.62a2.91,2.91,0,0,0-3-2.83h0" transform="translate(0 0)"/><path class="cls-8" d="M257,.22A2.82,2.82,0,0,1,259.88,3a2.89,2.89,0,0,1-5.78,0A2.82,2.82,0,0,1,257,.22" transform="translate(0 0)"/><path class="cls-8" d="M245.05,101.7a2.76,2.76,0,1,1-2.89,2.75,2.82,2.82,0,0,1,2.89-2.75" transform="translate(0 0)"/><path class="cls-8" d="M259.09,6.58h-4.2a2.9,2.9,0,0,0-3,2.83v5.75a2.86,2.86,0,0,0,2.4,2.78V24.2a2.14,2.14,0,0,0,2.19,2.09h1a2.14,2.14,0,0,0,2.19-2.09V17.93a2.87,2.87,0,0,0,2.4-2.78V9.4a2.9,2.9,0,0,0-3-2.82" transform="translate(0 0)"/><path class="cls-8" d="M247.15,108.06H243a2.9,2.9,0,0,0-3,2.83v5.75a2.87,2.87,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.19,2.09h1a2.14,2.14,0,0,0,2.19-2.09v-6.27a2.86,2.86,0,0,0,2.4-2.78v-5.75a2.9,2.9,0,0,0-3-2.82" transform="translate(0 0)"/><path class="cls-8" d="M257,28.79a2.75,2.75,0,1,1-2.89,2.75A2.82,2.82,0,0,1,257,28.79" transform="translate(0 0)"/><path class="cls-8" d="M259.09,35.15H254.9a2.9,2.9,0,0,0-3,2.83v5.76a2.87,2.87,0,0,0,2.4,2.77v6.27a2.15,2.15,0,0,0,2.18,2.06h1a2.14,2.14,0,0,0,2.19-2.09V46.49a2.88,2.88,0,0,0,2.41-2.75V38a2.9,2.9,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-8" d="M187.26,92.77h-4.2a2.92,2.92,0,0,0-3,2.8v5.78a2.87,2.87,0,0,0,2.4,2.77v6.26a2.15,2.15,0,0,0,2.18,2.1h1a2.14,2.14,0,0,0,2.19-2.09v-6.27a2.86,2.86,0,0,0,2.4-2.77V95.59a2.91,2.91,0,0,0-3-2.82h0" transform="translate(0 0)"/>
                <path class="cls-8" d="M197.12,101.63a2.75,2.75,0,1,1-2.89,2.75,2.83,2.83,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-8" d="M199.22,108H195a2.9,2.9,0,0,0-3,2.83v5.75a2.88,2.88,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.2,2.08h.95a2.14,2.14,0,0,0,2.19-2.08v-6.28a2.88,2.88,0,0,0,2.41-2.77v-5.75a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/>
              </g>
              <g class="svg-tooltip graph-group-unknown" data-tooltip="Unknown">
                <path class="cls-9" d="M269.2,15a2.76,2.76,0,1,1-2.89,2.75A2.83,2.83,0,0,1,269.2,15" transform="translate(0 0)"/>
                <path class="cls-9" d="M294.25,15.35a2.76,2.76,0,1,1-2.89,2.76,2.84,2.84,0,0,1,2.89-2.76" transform="translate(0 0)"/>
                <path class="cls-9" d="M271.3,21.33h-4.2a2.92,2.92,0,0,0-3,2.8V29.9a2.87,2.87,0,0,0,2.4,2.78v6.26a2.15,2.15,0,0,0,2.18,2.1h1A2.14,2.14,0,0,0,271.9,39V32.68a2.86,2.86,0,0,0,2.4-2.78V24.15a2.91,2.91,0,0,0-3-2.82h0" transform="translate(0 0)"/><path class="cls-9" d="M296.35,21.72h-4.2a2.9,2.9,0,0,0-3,2.79v5.78a2.86,2.86,0,0,0,2.4,2.77v6.26a2.13,2.13,0,0,0,2.18,2.1h1A2.14,2.14,0,0,0,297,39.33V33.06a2.87,2.87,0,0,0,2.4-2.77V24.54a2.9,2.9,0,0,0-3-2.82h0" transform="translate(0 0)"/>
                <path class="cls-9" d="M269.2,43.54a2.75,2.75,0,1,1-2.89,2.75,2.83,2.83,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-9" d="M294.25,43.92a2.76,2.76,0,1,1-2.89,2.75,2.83,2.83,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-9" d="M269.2,72.59a2.75,2.75,0,1,1-2.89,2.75,2.83,2.83,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-9" d="M294.25,73a2.76,2.76,0,1,1-2.89,2.75A2.83,2.83,0,0,1,294.25,73" transform="translate(0 0)"/>
                <path class="cls-9" d="M269.2,101.56a2.76,2.76,0,1,1-2.89,2.76,2.83,2.83,0,0,1,2.89-2.76" transform="translate(0 0)"/>
                <path class="cls-9" d="M294.25,102a2.75,2.75,0,1,1-2.89,2.75,2.83,2.83,0,0,1,2.89-2.75" transform="translate(0 0)"/>
                <path class="cls-9" d="M271.32,49.9h-4.2a2.91,2.91,0,0,0-3,2.79v5.8a2.88,2.88,0,0,0,2.41,2.77v6.27a2.14,2.14,0,0,0,2.21,2.06h1a2.15,2.15,0,0,0,2.2-2.09V61.24a2.86,2.86,0,0,0,2.35-2.75V52.72a2.9,2.9,0,0,0-3-2.82" transform="translate(0 0)"/><path class="cls-9" d="M296.38,50.28h-4.2a2.91,2.91,0,0,0-3,2.8v5.79a2.87,2.87,0,0,0,2.4,2.78v6.26A2.15,2.15,0,0,0,293.79,70h1A2.14,2.14,0,0,0,297,67.89V61.63a2.88,2.88,0,0,0,2.36-2.76V53.1a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-9" d="M271.32,79h-4.2a2.91,2.91,0,0,0-3,2.79v5.8a2.89,2.89,0,0,0,2.41,2.78v6.26a2.14,2.14,0,0,0,2.21,2.06h1a2.15,2.15,0,0,0,2.2-2.09V90.29a2.86,2.86,0,0,0,2.35-2.75V81.77a2.9,2.9,0,0,0-3-2.82" transform="translate(0 0)"/><path class="cls-9" d="M296.38,79.33h-4.2a2.91,2.91,0,0,0-3,2.8v5.79a2.87,2.87,0,0,0,2.4,2.78V97A2.15,2.15,0,0,0,293.79,99h1A2.14,2.14,0,0,0,297,96.94V90.68a2.88,2.88,0,0,0,2.36-2.76V82.15a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-9" d="M271.32,107.93h-4.2a2.91,2.91,0,0,0-3,2.79v5.8a2.88,2.88,0,0,0,2.41,2.77v6.27a2.14,2.14,0,0,0,2.21,2.06h1a2.15,2.15,0,0,0,2.2-2.09v-6.26a2.86,2.86,0,0,0,2.35-2.75v-5.77a2.9,2.9,0,0,0-3-2.82" transform="translate(0 0)"/>
                <path class="cls-9" d="M296.38,108.31h-4.2a2.91,2.91,0,0,0-3,2.8v5.79a2.88,2.88,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.22,2.06h1a2.14,2.14,0,0,0,2.19-2.08v-6.26a2.88,2.88,0,0,0,2.36-2.76v-5.77a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/><path class="cls-9" d="M282,.6a2.84,2.84,0,0,1,2.9,2.76,2.9,2.9,0,0,1-5.79,0A2.83,2.83,0,0,1,282,.6" transform="translate(0 0)"/><path class="cls-9" d="M282,85.87a2.76,2.76,0,1,1-2.89,2.75A2.83,2.83,0,0,1,282,85.87" transform="translate(0 0)"/>
                <path class="cls-9" d="M284.14,7h-4.2a2.9,2.9,0,0,0-3,2.83v5.75a2.87,2.87,0,0,0,2.4,2.77v6.26a2.15,2.15,0,0,0,2.2,2.09h.95a2.14,2.14,0,0,0,2.19-2.09V18.31a2.88,2.88,0,0,0,2.41-2.77V9.79a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/><path class="cls-9" d="M284.14,92.23h-4.2a2.9,2.9,0,0,0-3,2.83v5.75a2.87,2.87,0,0,0,2.4,2.78v6.26a2.15,2.15,0,0,0,2.2,2.09h.95a2.14,2.14,0,0,0,2.19-2.09v-6.27a2.89,2.89,0,0,0,2.41-2.78V95.05a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/><path class="cls-9" d="M282,29.17a2.76,2.76,0,1,1-2.89,2.75A2.83,2.83,0,0,1,282,29.17" transform="translate(0 0)"/><path class="cls-9" d="M284.15,35.53H280a2.9,2.9,0,0,0-3,2.83v5.76a2.87,2.87,0,0,0,2.4,2.78v6.26a2.13,2.13,0,0,0,2.18,2.06h1a2.14,2.14,0,0,0,2.19-2.08V46.88a2.88,2.88,0,0,0,2.4-2.76V38.35a2.91,2.91,0,0,0-3-2.82" transform="translate(0 0)"/><path class="cls-9" d="M282,57.72a2.76,2.76,0,1,1-2.89,2.76A2.84,2.84,0,0,1,282,57.72" transform="translate(0 0)"/><path class="cls-9" d="M257,86.49a2.75,2.75,0,1,1-2.89,2.75A2.82,2.82,0,0,1,257,86.49" transform="translate(0 0)"/>
                <path class="cls-9" d="M259.09,92.85h-4.2a2.9,2.9,0,0,0-3,2.83v5.75a2.86,2.86,0,0,0,2.4,2.77v6.27a2.14,2.14,0,0,0,2.19,2.08h1a2.14,2.14,0,0,0,2.19-2.08v-6.28a2.87,2.87,0,0,0,2.4-2.77V95.67a2.9,2.9,0,0,0-3-2.82" transform="translate(0 0)"/><path class="cls-9" d="M257,57.34a2.76,2.76,0,1,1-2.89,2.75A2.82,2.82,0,0,1,257,57.34" transform="translate(0 0)"/><path class="cls-9" d="M259.09,63.72h-4.2a2.9,2.9,0,0,0-3,2.83V72.3a2.86,2.86,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.19,2.09h1a2.14,2.14,0,0,0,2.19-2.09V75.06a2.88,2.88,0,0,0,2.4-2.78V66.53a2.91,2.91,0,0,0-3-2.81" transform="translate(0 0)"/><path class="cls-9" d="M284.14,64.11h-4.2a2.9,2.9,0,0,0-3,2.83v5.75a2.87,2.87,0,0,0,2.4,2.77v6.26a2.15,2.15,0,0,0,2.2,2.09h.95a2.14,2.14,0,0,0,2.19-2.09V75.44a2.88,2.88,0,0,0,2.41-2.77V66.92a2.91,2.91,0,0,0-3-2.81" transform="translate(0 0)"/><path class="cls-10" d="M29.32,72.42a2.75,2.75,0,1,1-2.89,2.75,2.82,2.82,0,0,1,2.89-2.75" transform="translate(0 0)"/><path class="cls-10" d="M31.42,78.79h-4.2a2.9,2.9,0,0,0-3,2.83v5.75a2.88,2.88,0,0,0,2.4,2.78v6.26a2.14,2.14,0,0,0,2.19,2.09h1A2.14,2.14,0,0,0,32,96.41V90.14a2.87,2.87,0,0,0,2.4-2.78V81.61a2.9,2.9,0,0,0-3-2.82" transform="translate(0 0)"/><path class="cls-10" d="M29.32,14.72a2.75,2.75,0,1,1-2.89,2.75,2.82,2.82,0,0,1,2.89-2.75" transform="translate(0 0)"/><path class="cls-10" d="M31.42,21.08h-4.2a2.9,2.9,0,0,0-3,2.83v5.75a2.87,2.87,0,0,0,2.4,2.83v6.26a2.14,2.14,0,0,0,2.19,2.09h1A2.14,2.14,0,0,0,32,38.75V32.44a2.87,2.87,0,0,0,2.4-2.78V23.91a2.9,2.9,0,0,0-3-2.83" transform="translate(0 0)"/><path class="cls-10" d="M29.32,43.28A2.76,2.76,0,1,1,26.43,46a2.82,2.82,0,0,1,2.89-2.75" transform="translate(0 0)"/><path class="cls-10" d="M31.42,49.64h-4.2a2.9,2.9,0,0,0-3,2.83v5.75A2.87,2.87,0,0,0,26.65,61v6.26a2.14,2.14,0,0,0,2.19,2.09h1A2.14,2.14,0,0,0,32,67.26V61a2.86,2.86,0,0,0,2.4-2.78V52.47a2.9,2.9,0,0,0-3-2.83" transform="translate(0 0)"/><path class="cls-10" d="M41.24.07a2.83,2.83,0,0,1,2.89,2.76,2.89,2.89,0,0,1-5.78,0A2.83,2.83,0,0,1,41.24.07" transform="translate(0 0)"/><path class="cls-10" d="M41.24,86.34a2.76,2.76,0,1,1-2.89,2.75,2.82,2.82,0,0,1,2.89-2.75" transform="translate(0 0)"/><path class="cls-10" d="M29.32,101.55a2.76,2.76,0,1,1-2.89,2.76,2.83,2.83,0,0,1,2.89-2.76" transform="translate(0 0)"/>
              </g>
            </g>
          </g>
        </svg>
        <div class="thrive__tooltip">Placeholder Text</div>
      </div>
      <div class="thrive__people-graph__key">
          <div class="thrive__people-graph__key--column one">
            <div class="thrive__people-graph__key--row one">
              <div class="thrive__people-graph__key--color-box">
              </div>
              <div class="thrive__people-graph__key--number">
                2.6%
              </div>
              <div class="div thrive__people-graph__key--label">
                Multiracial &amp; Other
              </div>
            </div>
            <div class="thrive__people-graph__key--row two">
              <div class="thrive__people-graph__key--color-box">
              </div>
              <div class="thrive__people-graph__key--number">
                2.5%
              </div>
              <div class="div thrive__people-graph__key--label">
                  Alaskan Native, American Indian, Central, North, &amp; South American
              </div>
            </div>
            <div class="thrive__people-graph__key--row three">
              <div class="thrive__people-graph__key--color-box">
              </div>
              <div class="thrive__people-graph__key--number">
                20.6%
              </div>
              <div class="div thrive__people-graph__key--label">
                African American &amp; Black 
              </div>
            </div>
          </div>
          <div class="thrive__people-graph__key--column two">
            <div class="thrive__people-graph__key--row one">
              <div class="thrive__people-graph__key--color-box">
              </div>
              <div class="thrive__people-graph__key--number">
                28.7%
              </div>
              <div class="div thrive__people-graph__key--label">
                Asian
              </div>
            </div>
            <div class="thrive__people-graph__key--row two">
              <div class="thrive__people-graph__key--color-box">
              </div>
              <div class="thrive__people-graph__key--number">
                9.3%
              </div>
              <div class="div thrive__people-graph__key--label">
                Native Hawaiian &amp; Paciic Islander 
              </div>
            </div>
            <div class="thrive__people-graph__key--row three">
              <div class="thrive__people-graph__key--color-box">
              </div>
              <div class="thrive__people-graph__key--number">
                22.7%
              </div>
              <div class="div thrive__people-graph__key--label">
                White
              </div>
            </div>
            <div class="thrive__people-graph__key--row four">
              <div class="thrive__people-graph__key--color-box">
              </div>
              <div class="thrive__people-graph__key--number">
                13.6%
              </div>
              <div class="div thrive__people-graph__key--label">
                Unknown
              </div>
            </div>
          </div>
      </div>
      <div class="thrive__people-graph-disclaimer">
        *Categories are based on the U.S. Department of Housing and Urban Development
      </div>
    </div>
  </div>
</div>