<div class="thrive__container">
  <div class="thrive__overlay">
    <div class="thrive__title">
      IN 2017 You Opened the Door for 4,188 San Franciscans to Thrive
    </div>
    <div class="thrive__statistics">
      <div class="thrive__statistic-description first">
        Majority of our residents live on <br /><span class="thrive__statistic-number">$15,000 a year or $1,300 a month</span>
      </div>
      <div class="thrive__bar-graph ">
        <img src='/images/20-organisms/40-thrive/Bar_Graph.svg' />
        <img src='/images/20-organisms/40-thrive/Bar_Graph_Overlay_Text.svg' />
      </div>
      <div class="thrive__bar-graph-disclaimer">
        *Incomes are based on a one-person household according to the Mayor’s Office of Housing and Community Development
      </div>
      <div class="thrive__people-graph ">
        <img src='/images/20-organisms/40-thrive/People.svg' />
      </div>
      <div class="thrive__people-graph__key">
          <div class="thrive__people-graph__key--column one">
            <div class="thrive__people-graph__key--row one">
              <div class="thrive__people-graph__key--color-box">
              </div>
              <div class="thrive__people-graph__key--number">
                2.6%
              </div>
              <div class="div thrive__people-graph__key--label">
                Multiracial &amp; Other
              </div>
            </div>
            <div class="thrive__people-graph__key--row two">
              <div class="thrive__people-graph__key--color-box">
              </div>
              <div class="thrive__people-graph__key--number">
                2.5%
              </div>
              <div class="div thrive__people-graph__key--label">
                  Alaskan Native, American Indian, Central, North, &amp; South American
              </div>
            </div>
            <div class="thrive__people-graph__key--row three">
              <div class="thrive__people-graph__key--color-box">
              </div>
              <div class="thrive__people-graph__key--number">
                20.6%
              </div>
              <div class="div thrive__people-graph__key--label">
                African American &amp; Black 
              </div>
            </div>
          </div>
          <div class="thrive__people-graph__key--column two">
            <div class="thrive__people-graph__key--row one">
              <div class="thrive__people-graph__key--color-box">
              </div>
              <div class="thrive__people-graph__key--number">
                28.7%
              </div>
              <div class="div thrive__people-graph__key--label">
                Asian
              </div>
            </div>
            <div class="thrive__people-graph__key--row two">
              <div class="thrive__people-graph__key--color-box">
              </div>
              <div class="thrive__people-graph__key--number">
                9.3%
              </div>
              <div class="div thrive__people-graph__key--label">
                Native Hawaiian &amp; Paciic Islander 
              </div>
            </div>
            <div class="thrive__people-graph__key--row three">
              <div class="thrive__people-graph__key--color-box">
              </div>
              <div class="thrive__people-graph__key--number">
                22.7%
              </div>
              <div class="div thrive__people-graph__key--label">
                White
              </div>
            </div>
            <div class="thrive__people-graph__key--row four">
              <div class="thrive__people-graph__key--color-box">
              </div>
              <div class="thrive__people-graph__key--number">
                13.6%
              </div>
              <div class="div thrive__people-graph__key--label">
                Unknown
              </div>
            </div>
          </div>
      </div>
      <div class="thrive__people-graph-disclaimer">
        *Categories are based on the U.S. Department of Housing and Urban Development
      </div>
    </div>
  </div>
</div>